main{
    background: var(--dgreen);
}

  h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.0em 0;
}

h2 {
    font-size: 2em;
    font: bold;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
  }
 
  #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }

  .container-fluid {
    display: flex;
    justify-content: space-around; /* Adjust spacing between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
}

.card {
    text-align: center;
    width: 10%; /* Adjust the width of each card as needed */
    margin: 10px; /* Adjust the margin between cards */
}

.card img {
    width: 100%; /* Make the image inside each card fill its container */
}

.container {
    padding: 10px;
}

.card:hover {
   box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: var(--light);
}

a {
  color: hotpink;
}