body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
 
 #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }


  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plantName {
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
}

#search-button-container {
    display: flex; /* Use flex display */
}

#plantSearchButton {
    font-family: 'Shantell Sans', cursive;
    background-color: var(--lgreen);
    color: var(--light);
    border: none;
    border-radius: 5px;
    padding: 10px; /* Adjust the padding */
    cursor: pointer;
    flex: 1; /* Make the button expand to fill the available space */
    width: 300px;
}

#plantSearchButton:hover {
    background-color: var(--dgreen);
}
  
  #infoContainer {
    display: flex; /* Display flex to arrange divs side by side */
    flex-wrap: wrap; /* Allow wrapping if screen is narrow */
    justify-content: center; /* Center divs horizontally */
    align-items: center; /* Center divs vertically */
    margin-top: 20px; /* Add space below the header */
    width: 100%; /* Take up full width */
    background-color: white;
  }
  
  #perunialInfo {
    flex: 1; /* Allow divs to share available space equally */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px; /* Add spacing between divs */
    max-width: calc(50% - 20px); /* Limit divs to half of the available width minus spacing */
    text-align: center;
  }
  
  #expandedInfo {
    flex: 1; /* Allow divs to share available space equally */
    box-sizing: border-box;
    font-family: emoji;
    padding: 10px;
    margin: 10px; /* Add spacing between divs */
    max-width: calc(50% - 20px); /* Limit divs to half of the available width minus spacing */
  }

  body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}


#plantSearchBUtton:hover {
    background-color: var(--dgreen);
}
  